
body {
  font-family: 'Roboto', sans-serif;
}

.App {
  padding: 5%;
}

tr.positive {
  color: #18A97C !important;
}

tr.negative {
  color: #AE0465 !important;
}

tr.neutral {
  color: #7E7B85!important;
}
